/*--------------------------homepage background-------------------------*/

.landing-index {
    height: 100vh;
    background: url('../../assets/images/index-background.jpg') no-repeat bottom right fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-position: center;
}

.bg-cover-opaque {
    position: absolute;
    padding: 0;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.landing-about {
    background: url('../../assets/images/about-background.jpg') no-repeat bottom right fixed;
    height: 400px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.landing-contact {
    background: url('../../assets/images/contact-background.jpg') no-repeat bottom right fixed;
    height: 400px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-position: center;
}

.landing-music {
    background: url('../../assets/images/music-background.jpg') no-repeat bottom right fixed;
    height: 400px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-position: center;
}

.landing-video {
    background: url('../../assets/images/video-background.jpg') no-repeat bottom right fixed;
    height: 400px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-position: center;
}
