@import url('https://fonts.googleapis.com/css?family=Cinzel|Metal+Mania');

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Metal Mania', sans-serif;
    color: #ffffff;
    margin: 0;
    background-color: #000000;
}

/*--backgrounds to load first--*/

.landing-index {
    height: 50vh;
    background: url('../../assets/images/index-background.jpg') no-repeat bottom right fixed;
}

.landing-music,
.landing-video,
.landing-about {
    height: 300px;
}

.landing-about {
    background: url('../../assets/images/about-background.jpg') no-repeat bottom right fixed;
}

.landing-music {
    background: url('../../assets/images/music-background.jpg') no-repeat bottom right fixed;
}

.landing-video {
    background: url('../../assets/images/video-background.jpg') no-repeat bottom right fixed;
}

.landing-contact {
    background: url('../../assets/images/contact-background.jpg') no-repeat bottom right fixed;
    height: 65vh;
}

.landing-404 {
    background: url('../../assets/images/404-background-2.gif') no-repeat bottom right fixed;
    height: 100vh;
    overflow: hidden;
}

.landing-index,
.landing-music,
.landing-video,
.landing-about,
.landing-contact,
.landing-404 {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-position: center;
}

.bg-cover-opaque {
    position: absolute;
    padding: 0;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

/*--background loading end--*/

.navbar-links li:not(:nth-child(3)):not(:nth-child(4)):not(:nth-child(6)) span {
    border-right: 3px solid #ffffff;
}

.large-heading {
    font-size: 3em;
    transition: color .5s ease-in-out;

}

.large-heading:hover {
    color: #8a0b0b;
}

.skull-image {
    width: 32%;
    max-width: 200px;
}

.about-the-band p {
    font-family: Cinzel;
}

.about-us-container {
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
}


.skull-image-breaker {
    height: 30px;
    width: 30px;
}

.about-the-band p {
    padding-top: 20px;
}

.logo-main {
    position: absolute;
    height: 20vh;
    width: 100%;
    background: url('../../assets/images/logo-main.png') no-repeat scroll;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center;
    transition: background .5s ease-in-out;
}

.logo-main:hover {
    position: absolute;
    height: 20vh;
    background: url('../../assets/images/logo-main2.png') no-repeat scroll;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center;
}

.skull-section-divider-red {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 250px;
    height: 250px;
    margin-top: -125px;
    margin-left: -125px;
}

.skull-section-divider {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 250px;
    height: 250px;
    margin-top: -125px;
    margin-left: -125px;
}

.skull-section-divider:hover {
    opacity: 0;
    transition: all .5s ease-in-out;
}

.logo-divider-red {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 360px;
    height: 184px;
    margin-top: -92px;
    margin-left: -180px;
}

.logo-divider {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 360px;
    height: 184px;
    margin-top: -92px;
    margin-left: -180px;
}

.logo-divider:hover {
    opacity: 0;
    transition: all .5s ease-in-out;
}

.logo-block {
    height: 60px;

}

.navbar-links {
    text-align: center;
    padding-bottom: 15px;
    z-index: 1;
    box-shadow: 0px 7px 10px 0px rgba(101, 101, 101, 0.52);
}

.navbar {
    height: 60px;
    padding: 0;
}

.bg-navbar {
    background-color: #000000;
}

.navbar img {
    height: 100%;
    display: block;
    margin: auto;
}

.navbar-links ul a {
    text-decoration: none;
}

.navbar-links ul {
    padding: 0px;
    margin: 0px;
}

.navbar-links span {
    color: #ffffff;
    font-size: 20px;
    padding-right: 10px;
    transition: color .3s ease-in-out;
}

.navbar-links span:hover {
    color: #8a0b0b;
}

.navbar-padding {
    margin-top: 120px;
    display: block;
}

.scroll-offset {
    display: block;
    position: relative;
    top: -135px;
    visibility: hidden;
}

.bg-footer {
    height: 70px;
    box-shadow: 0px -15px 10px -15px rgba(101, 101, 101, 0.52);
    z-index: 1;
}

.divider-content {
    height: fit-content;
    padding: 0;
}

.divider-content-about-us {
    background-image: url('../../assets/images/metallica-about-bg-sm.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.divider-content-contact-form {
    background-image: url('../../assets/images/contact-form-bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.yt-video-sample {
    float: left;
    padding: 15px;
}

.sc-audio-sample {
    float: left;
    padding: 15px;
}

.jumbo-styling {
    z-index: 1 !important;
    background-color: rgba(0, 0, 0, 0.56);
}

.jumbo-styling h1 {
    text-align: center;
}

.jumbo-styling h5 {
    text-align: right;
}

.contact-form {
    padding-top: 30px;
    padding-bottom: 30px;
}

form label {
    text-align: center;
    display: block;
    font-size: 1.5rem;
}

.form-control {
    font-family: Cinzel;
}

.submit-button {
    display: block;
    text-align: center;
    padding-top: 15px;
}

.btn-primary {
    background-color: #8a0b0b;
    border-color: #8a0b0b;
}

.btn-primary:hover {
    background-color: #730c0c;
    border-color: #730c0c;
}

.btn-primary:not(:disabled):not(.disabled):active {
    background-color: #730c0c;
    border-color: #730c0c;
}

.btn-primary:focus {
    box-shadow: 0 0 0 0.2rem rgba(138, 11, 11, .5);
}

.btn-primary:not(:disabled):not(.disabled):active:focus {
    box-shadow: 0 0 0 0.2rem rgba(138, 11, 11, .5);
}

.social-links {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #000000;
    background: #ffffff;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background: #8a0b0b;
    color: #ffffff;
}

ul {
    margin-top: 1rem;
}

.lost-link a {
    text-decoration: none;
    padding-left: 30px;
    padding-right: 30px;
}

.lost-link a i {
    width: 80px;
    height: 80px;
    padding: 37px 0;
    border-radius: 50%;
    font-size: 50px;
    line-height: 7px;
    text-align: center;
    color: #000000;
    background: #ffffff;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.lost-link a i:hover {
    background: #8a0b0b;
    color: #ffffff;
}

.lost-link {
    overflow: hidden;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 0;
}

.lost-link iframe {
    position: absolute;
    left: 2000px;
}

.toast.show {
    z-index: 3;
}

.toast-body {
    color: #000000;
}

.error-page-skull {
    text-align: center;
}

/*--404 button animation--*/

@keyframes pulse {

    40% {
        width: 80px;
        height: 80px;
        padding: 37px 0;
        font-size: 50px;
        color: #000000;
        background-color: #ffffff;
    }

    45% {
        width: 90px;
        height: 90px;
        padding: 42px 0;
        font-size: 60px;
        color: #ffffff;
        background-color: #730c0c;
    }

    55% {
        width: 80px;
        height: 80px;
        padding: 37px 0;
        font-size: 50px;
        color: #000000;
        background-color: #ffffff;
    }

    60% {
        width: 80px;
        height: 80px;
        padding: 37px 0;
        font-size: 50px;
        color: #000000;
        background-color: #ffffff;
    }

}

.fa-volume-up {
    position: relative;
    animation-name: pulse;
    animation-duration: 6s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
}

.mobile-break {
    list-style-type: none;
}


/*--404 button animation end--*/

.toast-header img {
    height: 32px;
    width: 32px;
}

.toast-body {
    font-family: Cinzel;
}


@media (min-width: 576px) {
    .landing-index {
        height: 60vh;
    }

    .landing-about {
        height: 400px;
    }

    .landing-video {
        height: 400px;
    }

    .landing-music {
        height: 400px;
    }

    .about-us-container {
        padding-top: 40px;
        padding-bottom: 40px;
    }



    .logo-main {

        height: 40vh;

    }

    .logo-main:hover {
        height: 40vh;

    }

    .about-the-band p {
        font-size: 1.2em;
    }

    .social-links {
        padding: 40px;
    }

    .social-links li a i {
        width: 60px;
        height: 60px;
        padding: 27px 0;
        font-size: 40px;

    }

    .jumbotron {
        padding: 2rem 2rem;
    }

}

@media(min-width: 768px) {
    .landing-index {
        height: 70vh;
    }

    .landing-about {
        height: 600px;
    }

    .landing-video {
        height: 600px;
    }

    .landing-music {
        height: 600px;
    }

    .navbar-links span {
        font-size: 30px;
    }

    .navbar img {
        margin-left: -10px;
        margin-right: 0;
        padding-left: 10px;
        padding-top: 10px;
    }

    .navbar {
        height: 120px;
        box-shadow: 10px 0px 10px 10px rgba(101, 101, 101, 0.52);
        z-index: 1;
    }

    .navbar-links {
        box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
        padding-bottom: 0;
    }

    .navbar-links li:not(:last-child) span {
        border-right: 3px solid #ffffff;
    }



    .scroll-offset {
        top: -120px;
    }

    .logo-block {
        height: 120px;

    }


    .logo-main {
        top: 50px;
        height: 50vh;
    }

    .logo-main:hover {
        top: 50px;
        height: 50vh;
    }

    .mobile-break {
        display: none;

    }

    .bg-footer {
        height: 90px;
    }

    .large-heading {
        font-size: 5em;
    }


    .about-us-container {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .skull-image-breaker {
        margin-left: 50px;
        margin-right: 50px;
    }

    .about-the-band p img {
        float: right;
        height: 200px;
    }

    form label {
        font-size: 2rem;
    }

    .social-links li a i {
        width: 80px;
        height: 80px;
        padding: 37px 0;
        font-size: 50px;
    }

    .divider-content-contact-form {
        background-size: cover;
    }

        
    .skull-section-divider-red {
        width: 500px;
        height: 500px;
        margin-top: -250px;
        margin-left: -250px;
    }
    
    .skull-section-divider {
        width: 500px;
        height: 500px;
        margin-top: -250px;
        margin-left: -250px;
    }

    .logo-divider {
        width: 720px;
        height: 368px;
        margin-top: -172px;
        margin-left: -360px;
    }

        .logo-divider-red {
            width: 720px;
            height: 368px;
            margin-top: -172px;
            margin-left: -360px;
        }



}

@media(min-width:992px) {

    .jumbo-styling h1 {
        padding-right: 150px;
    }

    .divider-content-about-us {
        background-image: url('../../assets/images/metallica-about-bg.jpg');
    }

    
}

@media(min-width:1200px) {

    .divider-content-about-us {
        background-size: cover;
    }

    .skull-section-divider-red {
        width: 600px;
        height: 600px;
        margin-top: -300px;
        margin-left: -300px;
    }
    
    .skull-section-divider {
        width: 600px;
        height: 600px;
        margin-top: -300px;
        margin-left: -300px;
    }


}