@import url('https://fonts.googleapis.com/css?family=Cinzel|Metal+Mania');

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Metal Mania', sans-serif;
    color: #ffffff;
    margin: 0;
    background-color: #000000;
}


.navbar-links li:not(:nth-child(3)):not(:nth-child(4)):not(:nth-child(6)) span {
    border-right: 3px solid #ffffff;
}

.large-heading {
    font-size: 3em;
    transition: color .5s ease-in-out;

}

.large-heading:hover {
    color: #8a0b0b;
}

.skull-image {
    width: 32%;
    max-width: 200px;
}

.about-the-band p {
    /*------------background: url('../../assets/images/metallica-p-back.png');
    background-repeat: no-repeat;
    background-position: center;------------------unsure whether to use */
    font-family: Cinzel;
}

.about-us-container {
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
}


.skull-image-breaker {
    height: 30px;
    width: 30px;
}

.about-the-band p {
    padding-top: 20px;
}

.logo-main {
    position: absolute;
    height: 20vh;
    background: url('../../assets/images/logo-main.png') no-repeat scroll;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center;
    transition: background .5s ease-in-out;
}

.logo-main:hover {
    position: absolute;
    height: 20vh;
    background: url('../../assets/images/logo-main2.png') no-repeat scroll;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center;
}

.logo-block {
    height: 60px;

}

.navbar-links {
    text-align: center;
    padding-bottom: 15px;
    z-index: 1;
    box-shadow: 0px 7px 10px 0px rgba(101, 101, 101, 0.52);
}

.navbar {
    height: 60px;
    padding: 0;
}

.bg-navbar {
    background-color: #000000;
}

.navbar img {
    height: 100%;
    display: block;
    margin: auto;
}

.navbar-links ul a {
    text-decoration: none;
}

.navbar-links ul {
    padding: 0px;
    margin: 0px;
}

.navbar-links span {
    color: #ffffff;
    font-size: 20px;
    padding-right: 10px;
    transition: color .3s ease-in-out;
}

.navbar-links span:hover {
    color: #8a0b0b;
}

.navbar-padding {
    margin-top: 120px;
    display: block;
}

.scroll-offset {
    display: block;
    position: relative;
    top: -135px;
    visibility: hidden;
}

.bg-footer {
    height: 70px;
    box-shadow: 0px -15px 10px -15px rgba(101, 101, 101, 0.52);
    z-index: 1;
}

.divider-content {
    height: fit-content;
    padding: 0;
}

.yt-video-sample {
    float: left;
    padding: 15px;
    display: inline-block;
}

.sc-audio-sample {
    float: left;
    padding: 15px;
    display: inline-block;
}

.jumbo-styling {
    z-index: 1 !important;
    background-color: rgba(0, 0, 0, 0.56);
}

.jumbo-styling h1 {
    text-align: center;
}

.jumbo-styling h5 {
    text-align: right;
}

.contact-form {
    padding-top: 30px;
    padding-bottom: 30px;
}

form label {
    text-align: center;
    display: block;
    font-size: 1.5rem;
}

.form-control {
    font-family: Cinzel;
}

.submit-button {
    display: block;
    text-align: center;
    padding-top: 15px;
}

.btn-primary {
    background-color: #8a0b0b;
    border-color: #8a0b0b;
}

.btn-primary:hover {
    background-color: #730c0c;
    border-color: #730c0c;
}

.btn-primary:not(:disabled):not(.disabled):active {
    background-color: #730c0c;
    border-color: #730c0c;
}

.btn-primary:focus {
    box-shadow: 0 0 0 0.2rem rgba(138, 11, 11, .5);
}

.btn-primary:not(:disabled):not(.disabled):active:focus {
    box-shadow: 0 0 0 0.2rem rgba(138, 11, 11, .5);
}

.social-links {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #000000;
    background: #ffffff;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background: #8a0b0b;
    color: #ffffff;
}

ul {
    margin-top: 1rem;
}

.lost-link a {
    padding-left: 30px;
    padding-right: 30px;
}

.lost-link a i {
    width: 80px;
    height: 80px;
    padding: 37px 0;
    border-radius: 50%;
    font-size: 50px;
    line-height: 7px;
    text-align: center;
    color: #000000;
    background: #ffffff;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.lost-link a i:hover {
    background: #8a0b0b;
    color: #ffffff;
}

.lost-link {
    overflow: hidden;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 0;
}

.lost-link iframe {
    position: absolute;
    left: 2000px;
}

/*------------------------- white divider for testing display

.divider-content-white {
    background-color: #ffffff !important;
    height: 400px;
}
--------------------------------*/

/*---------------------------404 button animation-------------------------*/

@keyframes pulse {

    40% {
        width: 80px;
        height: 80px;
        padding: 37px 0;
        font-size: 50px;
        color: #000000;
        background-color: #ffffff;
    }
    45% {
        width: 90px;
        height: 90px;
        padding: 42px 0;
        font-size: 60px;
        color: #ffffff;
        background-color: #730c0c;
    }
    55% {
        width: 80px;
        height: 80px;
        padding: 37px 0;
        font-size: 50px;
        color: #000000;
        background-color: #ffffff;
    }
    60% {
        width: 80px;
        height: 80px;
        padding: 37px 0;
        font-size: 50px;
        color: #000000;
        background-color: #ffffff;
    }

}

.fa-volume-up {
    position: relative;
    animation-name: pulse;
    animation-duration: 6s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
}

.mobile-break {
    list-style-type: none;
}


/*-------------------------------404 button animation end----------------*/

@media (min-width: 576px) {

    .about-us-container {
        padding-top: 40px;
        padding-bottom: 40px;
    }



    .logo-main {
        height: 40vh;

    }
    .logo-main:hover {
        height: 40vh;

    }
    .about-the-band p {
        font-size: 1.2em;
    }

    .social-links {
        padding: 40px;
    }

    .social-links li a i {
        width: 60px;
        height: 60px;
        padding: 27px 0;
        font-size: 40px;

    }

}


@media(min-width: 768px) {
    .navbar-links span {
        font-size: 30px;
    }

    .navbar img {
        margin-left: -10px;
        margin-right: 0;
        padding-left: 10px;
        padding-top: 10px;
    }

    .navbar {
        height: 120px;
        box-shadow: 10px 0px 10px 10px rgba(101, 101, 101, 0.52);
        z-index: 1;
    }

    .navbar-links {
        box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
        padding-bottom: 0;
    }

    .navbar-links li:not(:last-child) span {
        border-right: 3px solid #ffffff;
    }



    .scroll-offset {
        top: -120px;
    }

    .logo-block {
        height: 120px;

    }


    .logo-main {
        top: 50px;
        height: 50vh;
    }

    .logo-main:hover {
        top: 50px;
        height: 50vh;
    }

    /*-----------------------------------------------------------------------------
    .logo-main {
        background-position: center;
        background: url('../../assets/images/logo-main.png') no-repeat bottom right scroll;
        position: absolute;
        top: 20px;
        height: 75%;
        width: 75%;
        -webkit-background-size: contain;
        -moz-background-size: contain;
        -o-background-size: contain;
        background-size: contain;
        display: flex;
        justify-content: center;
        transition: background .5s ease-in-out;
    }

    .logo-main:hover {
        background-position: center;
        background: url('../../assets/images/logo-main2.png') no-repeat bottom right scroll;
        position: absolute;
        top: 20px;
        height: 75%;
        width: 75%;
        -webkit-background-size: contain;
        -moz-background-size: contain;
        -o-background-size: contain;
        background-size: contain;
        display: flex;
        justify-content: center;
        transition: background .5s ease-in-out;
    }

-----------------------------------------------------------Original main logo tests -unsuccessful*/
    .mobile-break {
        display:none;

    }

    .bg-footer {
        height: 90px;
    }

    .large-heading {
        font-size: 5em;
    }


    .about-us-container {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .skull-image-breaker {
        margin-left: 50px;
        margin-right: 50px;
    }

    .about-the-band p img {
        float: right;
        height: 200px;
    }

    form label {
        font-size: 2rem;
    }
    .social-links li a i {
        width: 80px;
        height: 80px;
        padding: 37px 0;
        font-size: 50px;
    }

}

@media(min-width:992px) {

    .jumbo-styling h1 {
        padding-right: 150px;
    }
}
